
/*public go*/

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ margin:0px; padding:0px; }
table{ border-collapse:collapse; border-spacing:0px;}
fieldset,img { border:0px; }
address,caption,cite,code,dfn,em,strong,th,var { font-weight:normal; font-style:normal;}
ol,ul { list-style:none; }
caption,th{ text-align:left; }
h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal; }
q:before,q:after { content:''}
abbr { border:0px;}
body{ font-size:14px; line-height:20px; font-family:'Microsoft YaHei',Arial, Helvetica, sans-serif; color:#000; text-align:left;}
div,p,ul,li,h1,h2,h3,h4,h5,h6,a,input,button,textarea,span,font,em,cite,table,tr,td{ font-size:1em;}
input{ color:#666; outline:none; border:1px solid #ccc;}
p{ padding-top:0.4em;}
a{ color:#f00; text-decoration:none;}
a:hover{ text-decoration:underline;}

.clearb:after{
    content: " ";
    clear: both;
    display: block;
    height: 0;
}
.fl{ float:left; }
.fr { float:right; }
.text_center{text-align:center;}

/* font style */

.f12 { font-size:12px; }
.f14 { font-size:14px; }
.f16 { font-size:16px; }
.f18 { font-size:18px; }
.f20 { font-size:20px; }

/*margin padding style*/

.m5{ margin:5px;}
.m10{ margin:10px;}
.p5{ padding:5px;}
.p10{ padding:10px;}

/*width style */

.w10 { width:10px; }
.w20 { width:20px; }
.w30 { width:30px; }
.w40 { width:40px; }
.w50 { width:50px; }
.w60 { width:60px; }
.w70 { width:70px; }
.w80 { width:80px; }
.w90 { width:90px; }
.w150 { width:150px; }
.w100 { width:100px; }
.w200 { width:200px; }
.w250 { width:250px; }
.w300 { width:300px; }
.w400 { width:400px; }
.w500 { width:500px; }
.w600 { width:600px; }
.w700 { width:700px; }
.w800 { width:800px; }
.w900 { width:900px; }
.w1000 { width:1000px; }
.wb100 { width:100%;}


/*height style*/
.h10 { height:10px; }
.h20 { height:20px; }
.h30 { height:30px; }
.h40 { height:40px; }
.h50 { height:50px; }
.h100 { height:100px; }
.h150 { height:150px; }
.h200 { height:200px; }
.h300 { height:300px; }
.h500 { height:500px; }
.hb100 { height:100% }

/*margin style*/

.mt5{ margin-top:5px;}
.mt10{ margin-top:10px;}
.mt15{ margin-top:15px;}
.mt20{ margin-top:20px;}
.mt25{ margin-top:25px;}
.mt30{ margin-top:30px;}
.mt35{ margin-top:35px;}
.mt40{ margin-top:40px;}
.mt50{ margin-top:50px;}
.mt100{ margin-top:100px;}

.ml5{ margin-left:5px;}
.ml10{ margin-left:10px;}
.ml15{ margin-left:15px;}
.ml20{ margin-left:20px;}
.ml25{ margin-left:25px;}
.ml30{ margin-left:30px;}
.ml40{ margin-left:40px;}
.ml50{ margin-left:50px;}
.ml100{ margin-left:100px;}

.mb5{ margin-bottom:5px;}
.mb10{ margin-bottom:10px;}
.mb15{ margin-bottom:15px;}
.mb20{ margin-bottom:20px;}
.mb25{ margin-bottom:25px;}
.mb30{ margin-bottom:30px;}
.mb40{ margin-bottom:40px;}
.mb50{ margin-bottom:50px;}
.mb100{ margin-bottom:100px;}

.mr5{ margin-right:5px;}
.mr10{ margin-right:10px;}
.mr15{ margin-right:15px;}
.mr20{ margin-right:20px;}
.mr25{ margin-right:25px;}
.mr30{ margin-right:30px;}
.mr40{ margin-right:40px;}
.mr50{ margin-right:50px;}
.mr100{ margin-right:100px;}

/* padding style */

.pt5{ padding-top:5px;}
.pt10{ padding-top:10px;}
.pt15{ padding-top:15px;}
.pt20{ padding-top:20px;}
.pt25{ padding-top:25px;}
.pt30{ padding-top:30px;}
.pt40{ padding-top:40px;}
.pt50{ padding-top:50px;}

.pl5{ padding-left:5px;}
.pl10{ padding-left:10px;}
.pl15{ padding-left:15px;}
.pl20{ padding-left:20px;}
.pl25{ padding-left:25px;}
.pl30{ padding-left:30px;}
.pl40{ padding-left:40px;}
.pl50{ padding-left:50px;}

.pb5{ padding-bottom:5px;}
.pb10{ padding-bottom:10px;}
.pb15{ padding-bottom:15px;}
.pb20{ padding-bottom:20px;}
.pb25{ padding-bottom:25px;}
.pb30{ padding-bottom:30px;}
.pb40{ padding-bottom:40px;}
.pb50{ padding-bottom:50px;}
.pb100{ padding-bottom:100px;}

.pr5{ padding-right:5px;}
.pr10{ padding-right:10px;}
.pr15{ padding-right:15px;}
.pr20{ padding-right:20px;}
.pr25{ padding-right:25px;}
.pr30{ padding-right:30px;}
.pr40{ padding-right:40px;}
.pr50{ padding-right:50px;}

/*ckx add*/

.c_hidden { display:none;}
.fwb { font-weight:bold;}
.fwn{ font-weight:normal;}

.color_red{ color:#f00;}
.color_white{ color:#fff;}
.color_blue{ color:blue;}
.color_green{ color:green;}
.color_gray{ color:#ccc;}
.color_block{ color:#333;}


/*public end*/

/*index go*/

.index_wrap{
    width: 100%;
    min-width: 1000px;
    background:url(../images/cloud_bg.jpg) center center no-repeat #478dd2;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
}
.index_wrap_in{
position: relative;
    width: 100%;
    height: 100%;
}
.index_wrap_in h1{
    position: absolute;
    z-index: 10;
    text-align: center;
    font-size: 100px;
    font-weight: bold;
    width: 400px;
    left: 50%;
    margin-left: -200px;
    color: #5b9dd9;
    top: 100px;
    letter-spacing: 20px;
    line-height: 1.2em;
    padding:20px;
}
.text_shadow{
text-shadow:
2px 2px 4px #fff,
-2px -2px 4px #fff,
2px -2px 4px #fff,
-2px 2px 4px #fff,
6px 6px 15px #abc2e2,
-6px -6px 15px #abc2e2,
6px -6px 15px #abc2e2,
-6px 6px 15px #abc2e2,
10px 10px 40px #99bae3,
-10px -10px 40px #99bae3,
10px -10px 40px #99bae3,
-10px 10px 40px #99bae3;
}

.index_wrap_in p.cp2{
    position: absolute;
    z-index: 10;
    width: 800px;
    left: 50%;
    margin-left: -400px;
    top:400px;
}
.index_wrap_in p.cp2 a{
    display: inline-block;
    color: #5b9dd9;
    font-size: 50px;
    margin-right: 30px;
    margin-left: 30px;
}
.index_wrap_in p.cp2 a:hover{
    text-decoration: none;
    text-shadow:
    2px 2px 4px #fff,
    -2px -2px 4px #fff,
    2px -2px 4px #fff,
    -2px 2px 4px #fff,
    6px 6px 15px #e4eaf6,
    -6px -6px 15px #e4eaf6,
    6px -6px 15px #e4eaf6,
    -6px 6px 15px #e4eaf6,
    10px 10px 40px #abc2e2,
    -10px -10px 40px #abc2e2,
    10px -10px 40px #abc2e2,
    -10px 10px 40px #abc2e2,
    20px 20px 60px #99bae3,
    -20px -20px 60px #99bae3,
    20px -20px 60px #99bae3,
    -20px 20px 60px #99bae3;
}

.index_wrap_in p.cp2 a:active{
    text-decoration: none;
    text-shadow:
    2px 2px 4px #fff,
    -2px -2px 4px #fff,
    2px -2px 4px #fff,
    -2px 2px 4px #fff;
}

.index_wrap_in p.cp2 a span{
    position: absolute;
    z-index: 20;
    display: inline-block;
    color: #5b9dd9;
    font-size: 20px;
    top: 0;
    margin-top:-60px;
    margin-left:-180px ;
    opacity: 0;
    transition: all 1.5s;

}
.index_wrap_in p.cp2 a:hover span{
    opacity: 1;
}

/*index end*/

/*ckxinfo1 go*/
.c_hidden {
    display: none;
}

.navbar-fixed-top .nav li a {
    color: #fff;
    font-weight: bold;
    letter-spacing: 4px;
}

.navbar-fixed-top .nav li a:hover {
    color: #fed136;
    background: #000;
}

.navbar-fixed-top .nav li.active a {
    background-color: #fed136;
    border-radius: 3px;
    color: #fff;
}

.navbar-fixed-top {
    background-color: transparent;
    padding: 25px 0;
    transition: padding .3s;
    -webkit-transition: padding .3s;
}

.navbar-fixed-top.change_bg_block {
    background-color: #000;
    padding: 10px 0;
    transition: padding .3s;
}

.navbar-fixed-top .navbar-brand {
    color: #fed136;
    font-size: 3em;
    font-family: "STXinwei";
    font-weight: bold;
}

header {
    text-align: center;
    color: #fff;
    background: url(../images/ckx_fixedtop_bg1.png) center center;
    background-attachment: fixed;
}

.welcome {
    padding-top: 300px;
    padding-bottom: 200px;
}

.img_cover {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.73) 17%, rgba(0, 0, 0, 0.66) 35%, rgba(0, 0, 0, 0.55) 62%, rgba(0, 0, 0, 0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#cc000000', endColorstr='#66000000', GradientType=0);
}

.welcome_info1 {
    font-size: 36px;
    line-height: 60px;
}

.welcome_info2 {
    font-size: 60px;
    line-height: 100px;
}

.konw_more {
    padding: 20px 40px;
    border-color: #fed136;
    border-radius: 3px;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background-color: #fed136;
}

.navbar-fixed-top .navbar-toggle {
    background-color: #fed136;
    border-color: #fed136;
}

.navbar-fixed-top .navbar-toggle .icon-bar {
    background-color: #fff;
}

.pt100 {
    padding-top: 100px;
}

.pb100 {
    padding-bottom: 100px;
}

.bg_small_gray {
    background: #f7f7f7;
}

.school_img_out {
    position: relative;
    z-index: 10;
    width: 150px;
    border-radius: 100%;
    border: 7px solid #f1f1f1;
    overflow: hidden;
    margin: 0 auto;
}

.posi_relative {
    position: relative;
}

.center_line {
    position: absolute;
    z-index: 2;
    width: 2px;
    left: 50%;
    margin-left: -1.5px;
    top: 0;
    bottom: 0;
    background-color: #ccc;
}

.suspend_notice {
    position: fixed;
    z-index: 9999999;
    width: 160px;
    right: 10px;
    bottom: 20px;
    background: #fff;
    color: #000;
    font-size: 14px;
    border: 1px solid #000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    overflow: hidden;
    cursor: default;
    transition: all 0.5s;
}

.suspend_notice:hover {
    background: #e7e7e7;
}

.suspend_notice h3 {
    font-size: 18px;
    background: #e3393c;
    color: #ffffff;
    text-align: center;
    line-height: 46px;
    margin-top: 0;
    margin-bottom: 0;

}

.suspend_notice p {
    line-height: 20px;
    padding: 5px;
}

.suspend_notice span {
    display: block;
    position: absolute;
    z-index: 10;
    right: 5px;
    top: 10px;
    width: 30px;
    height: 30px;
    font-size: 30px;
    padding-top: 0;
    line-height: 24px;
    cursor: pointer;
    opacity: 0;
    color: #ccc;
    background: transparent;
    border: 2px solid #ccc;
    border-radius: 100%;
    transition: all 0.5s;
    text-align: center;
}

.suspend_notice:hover span {
    opacity: 0.5;
}

.myinfo_select {
    position: absolute;
    bottom: 20px;
    left: 50%;
}

.myinfo_select li {
    display: inline-block;
    width: 1em;
    height: 1em;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #cccccc;
    margin-left: 2em;
    cursor: pointer;
}

.myinfo_select li.selected {
    background: #e3393c;
}

.min_ht10em {
    min-height: 15em;
}

.pt20 {
    padding-top: 20px;
}

/*ckxinfo1 end*/

/*ckxinfo2 go*/

.wrap {
    width: 100%;
    min-width: 1000px;
    background: #ffffff;
    font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #333333;
}

.main{
    position: relative;
    height: 100%;
    background-image: -moz-linear-gradient(top, #eef9c9, #578700); /* Firefox */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eef9c9), color-stop(1, #578700)); /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef9c9', endColorstr='#578700', GradientType=0); /* IE*/
}
.qh_left{
    float: left;
    width: 20%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;

}
.qh_left li{
    height:10%;
    margin-top: 10%;
    margin-left: 5%;
    padding-top: 8%;
    padding-bottom: 8%;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
    transition: all 0.5s;
    -webkit-box-shadow:5px 5px 5px #586d11;
    -moz-box-shadow:5px 5px 5px #586d11;
    box-shadow:5px 5px 5px #586d11;
    background-image: -moz-linear-gradient(top, #c5fe00, #578700); /* Firefox */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c5fe00), color-stop(1, #578700)); /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c5fe00', endColorstr='#578700', GradientType=0); /* IE*/
}

.qh_left li.left_select{
    background: #578700;
}

.qh_left li:hover{
    background: #578700;
}
.qh_left li.left_select:hover{
    background: #578700;
}
.qh_left li strong{
    color: #ffffff;
    font-size: 24px;
}

.qh_right{
    float: right;
    width: 75%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
    background-image: -moz-linear-gradient(top, #eef9c9, #578700); /* Firefox */
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eef9c9), color-stop(1, #578700)); /* Saf4+, Chrome */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#eef9c9', endColorstr='#578700', GradientType=0); /* IE*/
}
.qh_right li{
    display: none;
    height: 100%;
    overflow: auto;
    opacity: 0;
}
.qh_right li:first-child{
    opacity:1;
}

/*ckxinfo2 end*/

/*ckxinfo2 go*/

#superContainer {
    height: 100%;
    position: relative;
}
.section {
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.slide {
    float: left;
}
.slide, .slidesContainer {
    height: 100%;
    display: block;
}
.slides {
    height: 100%;
    overflow: hidden;
    position: relative;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}
.section.table, .slide.table {
    display: table;
    width: 100%;
}
.tableCell {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.slidesContainer {
    float: left;
    position: relative;
}
.controlArrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
}
.controlArrow.prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent;
}
.controlArrow.next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff;
}
.scrollable {
    overflow: scroll;
}
.easing {
    -webkit-transition: all 0.7s ease-out;
    -moz-transition: all 0.7s ease-out;
    -o-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
}
#fullPage-nav {
    position: fixed;
    z-index: 100;
    margin-top: -32px;
    top: 50%;
    opacity: 1;
}
#fullPage-nav.right {
    right: 17px;
}
#fullPage-nav.left {
    left: 17px;
}
.fullPage-slidesNav {
    position: absolute;
    z-index: 4;
    left: 50%;
    opacity: 1;
}
.fullPage-slidesNav.bottom {
    bottom: 17px;
}
.fullPage-slidesNav.top {
    top: 17px;
}
#fullPage-nav ul, .fullPage-slidesNav ul {
    margin: 0;
    padding: 0;
}
#fullPage-nav li, .fullPage-slidesNav li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position:relative;
}
.fullPage-slidesNav li {
    display: inline-block;
}
#fullPage-nav li a, .fullPage-slidesNav li a {
    display: block;
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
}
#fullPage-nav li .active span, .fullPage-slidesNav .active span {
    background: #333;
}
#fullPage-nav span, .fullPage-slidesNav span {
    top: 2px;
    left: 2px;
    width: 8px;
    height: 8px;
    border: 1px solid #000;
    background: rgba(0, 0, 0, 0);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
.fullPage-tooltip {
    position: absolute;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    top: -2px;
}
.fullPage-tooltip.right {
    right: 20px;
}
.fullPage-tooltip.left {
    left: 20px;
}

#menu { position: fixed; right: 30px;#right: 30px; top: 50%; width: 10px; margin-top: -50px; padding: 0; list-style-type: none; z-index: 70;}
#menu li { width:10px; height:10px; float:left; margin-top:10px;}
#menu li a { display:block; float:left; width:10px; height:10px; text-indent:-100px; overflow:hidden; border-radius:5px; background:#fff;}
#menu li.active a { background:#0074EA}

/*ckxinfo3 end*/