@charset "utf-8";

@font-face
{
font-family: myFirstfont;
src: url('MyriadPro-Regular.otf');
}


/*public*/
.clear_b:before,.clear_b:after{
	content: " ";
	display: block;
	height: 0;
	clear: both;
}

.c_hidden{display: none;}

.color_blue{
	color:#38a8e8;
}
.color_blue:hover{color:#2188c2;}

.vis_hidden{visibility: hidden;}

.color_red{color: red;}


/*login*/
.supplier_wrap{
	font-family: myFirstfont,Roboto,Helvetica, Tahoma, Arial, "Microsoft Yahei";
	min-width:1060px;
	max-width:1920px;
	margin:0 autp;
	color:#000000;
	font-size: 16px;
	background: -webkit-linear-gradient(#e9e9e9, #ffffff);
 	background: -o-linear-gradient(#e9e9e9, #ffffff); 
    background: -moz-linear-gradient(#e9e9e9, #ffffff); 
    background: linear-gradient(#e9e9e9, #ffffff); 
}

.supplier_main{
	width:1000px;
	margin:0 auto;
	/*background-color:#ffffff;
	border-top:1px solid #ffffff;
	border-bottom:1px solid #ffffff;*/
	margin-top:20px;
}

.supplier_login,
.supplier_register,
.supplier_register3{
	width:600px;
	margin:100px auto;
	background-color:#E9E9E9;
	border:1px solid #dddddd;
	box-shadow: 0 0 5px #cccccc;
	border-radius: 5px;
}

.supplier_login h2,
.supplier_register h2,
.supplier_register3 h2{
	font-size:30px;
	text-align: center;
	padding-top:30px;
	padding-bottom:30px;
}

.supplier_login label,
.supplier_register label{
	display: inline-block;
	width:20%;
	text-align: right;
	padding-right:5%;
}
.supplier_login input.login_ip,
.supplier_register input.register_ip,
.supplier_main #ehong-code-input{
	display: inline-block;
	width:50%;
	border:none;
	border:1px solid #dddddd;
	border-radius:4px;
	padding:10px;
	line-height: 20px;
	vertical-align: middle;
}
.supplier_login input.login_code,
.supplier_register input.register_code{
	width:25%;	
}
.supplier_login .login_imgcode_out,
.supplier_register .register_imgcode_out{
	display: inline-block;
	width:24%;
	text-align: center;
	background:#dddddd;
	height: 40px;
	vertical-align: middle;
}

.supplier_login p,
.supplier_register p{
	margin-top:20px;
}
.supplier_login p.loginbtn_out,
.supplier_register p.registerbtn_out{
	margin-top:50px;
}
.supplier_register p.registerbtn_out{margin-bottom:50px;}

.supplier_login .login_btn,
.registerbtn_out .register_btn,
.supplier_register .register_btn,
.more_btn{
	display: block;
	margin:0 auto;
	border:none;
	outline: none;
	padding:10px 30px;
	letter-spacing: 10px;
	padding-left:40px;
	font-size:18px;
	background-color: #38a8e8;
	color:#ffffff;
	cursor: pointer;
	border-radius:4px;
}
.supplier_login .login_btn:hover,
.supplier_register .register_btn:hover,
.more_btn:hover,
.registerbtn_out .register_btn:hover{background-color:#2188c2;}

.supplier_login .login_btn:active,
.supplier_register .register_btn:active,
.more_btn:active,
.registerbtn_out .register_btn:active{background-color:#075f90;}

.supplier_login .underform_p{
	margin-bottom:30px;
	padding:0 120px;
}
.underform_p a.now_register{
	float: right;
}

.supplier_register2{padding-bottom:40px;}
.supplier_register2 h3{
	margin:30px auto;
	padding:0 30px;
}
.supplier_register2 p{
	padding:0 30px;
}
.result_page_footerout{
	position: fixed;
	z-index: 200;
	bottom:0;	
	width: 100%;
}
.supplier_register3{
	position: relative;
	width:940px;
	padding:30px;
	}
.supplier_reg_single{padding:20px 0; }
.supplier_reg_tab4col{
	width:100%;
}
.supplier_reg_tab4col th,
.supplier_reg_tab4col td{
	width:25%;
	padding:0 20px;
	line-height: 20px;
	border:1px solid #eeeeee;
	background-color: #FFFFFF;
}
.supplier_reg_tab4col input,
.supplier_reg_tab4col .sel_100_b,
.city_select_out select{
	display: inline-block;
	width:100%;
	line-height: 20px;
	padding-top:10px;
	padding-bottom:10px;
	border: none;
	border-radius:4px;
}
.supplier_reg_tab4col .sel_100_b,
.supplier_reg_tab4col .build_date{
	border: 1px solid #dddddd;
    padding-top: 5px;
    padding-bottom: 5px;
}
.supplier_reg_tab4col td.supplier_w40td{width:40%;}
.supplier_reg_tab4col td.supplier_w60td{width:60%;}
.supplier_reg_tab4col tr td:nth-child(2n){
	/*width:30%;*/
}
.supplier_reg_tab4col tr td:nth-child(2n+1){
	/*width:20%;*/
	text-align: right;
	background-color: #38a8e8;
}
.supplier_reg_tab4col tr td:first-child{
	background-color: #38a8e8;
}
/*.supplier_reg_tab4col2 tr td{
	width:26.66%;
}
.supplier_reg_tab4col2 tr td:first-child{
	width:20%;
}*/

.supplier_reg_tab4col3 tr td:first-child{width:25%;}
.supplier_reg_tab4col3 tr .supplier_td1{width:10%;text-align: center;}
.supplier_reg_tab4col3 tr .supplier_td2{width:65%;}

.supplier_reg_tab4col4 tr td{width:33.3%;}
/*.supplier_reg_tab4col4 tr td:first-child{width:30%;}*/

.supplier_reg_tab4col5{table-layout: fixed;}
.supplier_reg_tab4col5 tr th.wb15{width:15%;}
.supplier_reg_tab4col5 tr th.wb25{width:25%;}
.supplier_reg_tab4col5 tr th.wb30{width:30%;}

.supplier_reg_tab4col4 tr th.wb40{width:40%;}
.supplier_reg_tab4col4 tr th.wb20{width:20%;}
/*.supplier_reg_tab4col5 tr td{width:20%;}*/


.supplier_reg_tab4col tr td.bg_blue,
.supplier_reg_tab4col tr th.bg_blue
{background-color: #38a8e8;}
.supplier_reg_tab4col tr td.bg_white,
.supplier_reg_tab4col tr th.bg_white
{background-color: #ffffff;}
.supplier_reg_tab4col tr .minht{height: 41px;}
.supplier_reg_tab4col tr td.ta_c{text-align: center;}
.supplier_reg_tab4col tr td.ta_r{text-align: right;}
.supplier_reg_tab4col tr td.ta_l{text-align: left;}

.supplier_reg_info{
	width:100%;
	border:1px solid #dddddd;
	color:red;
	background: #FFFFFF;
	box-sizing: border-box;
	padding:10px;
}
.supplier_reg_info p,
.supplier_reg_info li{
	margin:0;
	line-height: 20px;
}
.supplier_register3 h3{
	border-top:1px solid #666666;
    margin:40px 0;
}
.supplier_register3 h3 strong{
	display: block;
    position: absolute;
    z-index: 5;
    min-width:6em;
    max-width:12em;
    background-color:#e9e9e9;
    line-height: 40px;
    margin-top:-20px;
	left: 50%;
	padding:0 1em;
	margin-left:-4em;
	text-align: center;
	font-weight: normal;
}
.supplier_register3 h3 .morewd_strong{margin-left:-7em;}
.uploadimg_btn{
	display: inline-block;
	
}

.uploadimgshow_out{
	position: relative;
	z-index: 5;
	margin-left:-145px;
	background:#ffffff;
	display: inline-block;
	vertical-align: middle;
	min-width:150px;
	text-align: center;
}
.uploadimgshow_out img{
	height: 60px;
	margin-left:20px;
	margin-right:20px;
}

.uploadimg_div{
	position: relative;
	display: inline-block;
	padding-top:15px;
	padding-bottom:15px;
	min-height: 30px;
}
.uploadimg_div input{
	display: block;
	position: absolute;
	background: none;
	z-index: 10;
	width:140px;
	/*margin-left:-10px;*/
	/*margin-top: -42px;*/
	top:5px;
	opacity: 0.01;
	filter: alpha(opacity=1);
	cursor: pointer;
	padding-top:20px;
	padding-bottom:20px;
}
.uploadimg_div span,
.download_templet{
	display:inline-block;
	width:140px;
	height: 40px;
	background-color:#38a8e8;
	color:#ffffff;
	text-align: center;
	line-height: 40px;
	border-radius: 4px;
}
.download_templet{
	width:120px;
	margin-right:40px;
}
.uploadimg_div:hover span{background-color:#2188c2;}
.uploadimg_div:active span{background-color:#075f90;}
.info_newcompany{
	display: inline-block;
	width: 250px;
	vertical-align: middle;
	font-size: 14px;
	color:red;
	margin-top:0;
	}

.supplier_reg_tab4col tr .supplier_morebtn_out{padding-top:20px;padding-bottom:50px;background-color: #FFFFFF!important;}
.supplier_morebtn_out .more_btn{float:right;width:100px;text-align: center;height: 30px;padding:2px 10px;line-height: 30px;margin-right: 100px;letter-spacing: 0;}
.supplier_morebtn_out .morebtn_info{color:red;line-height: 34px;}
.more_btn em{font-style: normal;font-weight: bold;font-size:24px;}
.register_btn_div{margin-top:50px;margin-bottom:50px;}
.city_select_out select{width:150px;height: auto;padding:5px 10px;border:1px solid #dddddd;}
.data_ip_out input{width:174px;border:1px solid #dddddd;padding:5px 10px;}
/*.uploadimg_div2 input{width:80px;}*/ 
/*.uploadimg_div2 span{width:60px;}*/
.supplier_reg_tab4col th{font-weight: normal;}

.city_select_out2 select{
	width:90px;
}

.no_upload_css .uploadimg_div span{background:#cccccc!important;}
.supplier_reg_tab4col .dis_label{display: block;padding:10px;cursor: pointer;}

.supplier_register4 h3{
	border:none;
}
.ht0{height: 0;}

.select_pc_single h3{cursor: pointer;width: 200px;margin:10px 0;}
.point_r{display: inline-block;
    vertical-align: middle;
    margin-left:10px;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left-color: #999999;
    width: 2px;
    transition: all 0.3s;
    }
.point_d{
	transform: rotate(90deg);
	transform-origin: 20% 50%;
	-ms-transform: rotate(90deg);
	/* Internet Explorer */
	-ms-transform-origin: 20% 50%;
	/* Internet Explorer */
	-moz-transform: rotate(90deg);
	/* Firefox */
	-moz-transform-origin: 20% 50%;
	/* Firefox */
	-webkit-transform: rotate(90deg);
	/* Safari 和 Chrome */
	-webkit-transform-origin: 20% 50%;
	/* Safari 和 Chrome */
	-o-transform: rotate(90deg);
	/* Opera */
	-o-transform-origin: 20% 50%;
	/* Opera */
}
.select_pc_single h3 .h3_in{display: inline-block;vertical-align: middle;line-height: 32px;height: 30px;}

.register_selectproduct_tab{width:100%;}
.register_selectproduct_tab td{
	width: 20%;
	padding:5px;
	border:none;
}
.register_selectproduct_tab label{
	display: inline-block;
	padding:5px;
	font-size:16px;
}
.register_selectproduct_tab input{margin-right:5px;}
.register_selectproduct_tab{border:1px solid #dddddd;background-color:#dddddd;}
.select_pc_single{border-top:1px solid transparent;}
.uploadimgshow_out img{max-width:100px;}
.datecode{background:url(../jedate/images/datecode.png) no-repeat right center; cursor: pointer;}

.idcode1{display: inline-block;}
.idcode1 span:first-child{display: inline-block;vertical-align: middle;}
.idcode1 span #ehong-code-input{width:100px;}
.idcode1>div{display: inline-block;vertical-align: middle;}
.idcode1>div font{font-size:24px;}
.idcode_out{display: inline-block;}

.supplier_reg_tab4col6 tr td:first-child{text-align:center;}
.supplier_reg_tab4col6 tr th.wb10{width:10%;}
.supplier_reg_tab4col6 tr th.wb20{width:20%;}
.supplier_reg_tab4col6 tr th.wb70{width:70%;}
.supplier_reg_tab4col6 tr td{width: auto;}
.single_upload_out{display: inline-block;}
.single_upload{display:inline-block;}

.supplier_reg_tab4col7 tr td{width:70%;}
.supplier_reg_tab4col7 tr td:first-child{width:30%;}

.supplier_reg_tab4col8 tr td{width:auto;}
.supplier_reg_tab4col8 tr th.wb20{width:22%;}
.supplier_reg_tab4col8 tr th.wb30{width:28%;}

.supplier_reg_tab4col9 tr td{width:auto;}
.supplier_reg_single2{overflow-x: auto;}
.supplier_reg_tab4col9{min-width:1500px;}
.supplier_reg_tab4col9 tr td:first-child{background-color:#38a8e8;text-align:center;}
.supplier_morebtn_out2 .more_btn{float: left;margin-left:100px;}









